.head-title{
    color: #fff;
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 15px;
   padding: 0 10px;
}
.head-title:hover, .head-title:focus {
    color: #FFF !important;
    text-decoration: none;
}