<div class="set" ng-controller="Set_ruleController" ng-init="app.settings.container = false;" ng-cloak>
    <!-- Main content -->
    <div class="row">
        <div class="col-md-12 ">
            <div class="set_content">
                <div class="row">
                    <!-- <div class="col-md-12">
                        实时更新
                        确定
                        离线更新
                        确定
                    
                    </div> -->
                </div>
                <div class="rule_item">
                    <div class="rule_item_header row">
                        <h4 class="col-md-1" style="min-width:150px">实时更新</h4>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-1 col-md-offset-5">
                            <label style="width: 100%;">&nbsp;</label>
                            <button class="form-control btn btn-primary" style="max-width: 80px;" ng-click="keep()">更&nbsp;新</button>
                        </div>
                    </div>
                </div>
                <div class="rule_item">
                    <div class="rule_item_header row">
                        <h4 class="col-md-1" style="min-width:150px">离线更新</h4>
                    </div>
                    <div style="margin:20px">
                        <div class="input-file">
                            <form id="upload" method="post" enctype="multipart/form-data">
                                <input type="text" id="avatval" placeholder="请选择文件···" readonly="readonly" style="vertical-align: middle;" />
                                <input type="file" name="file" id="avatar" />
                                <a href="javascript:void(0);" ng-click="uploadPic()" class="button-selectimg" id="avatsel1">上传文件</a>
                                <!-- <span>上传成功！</span> -->
                            </form>
                        </div>
                    </div>
                  
                    <div class="row">
                        <div class="form-group col-md-1 col-md-offset-5">
                            <label style="width: 100%;">&nbsp;</label>
                            <button class="form-control btn btn-primary" style="max-width: 80px;" ng-click="keep()">更&nbsp;新</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>