<div class="alarm_detail" ng-controller="Alarm_detailController" ng-init="app.settings.container = false;" ng-cloak>
    <div class="row">
        <div class="col-md-12 ">
            <div class="set_content">
                <div class="row">
                    <div class="col-md-4 img_box">
                        <img src="../src/images/icos/computer.png" class="img" alt="" height="64" width="64" srcset="">
                    </div>
                    <div class="col-md-3 ">
                        <img src="../src/images/icos/1121.png" class="img_arrow" height="80" width="240" alt="">
                    </div>
                    <div class="col-md-4  img_box">
                        <img src="../src/images/icos/server.png" alt="" class="img" height="64" width="64" srcset="">
                    </div>
                </div>
                <!-- 详情 -->
                <div class="row part">
                    <div class="part_detail">
                        <p>
                            <span class="alarm_detai_span">源地址:</span>
                            <span class="part_detail_span" ng-bind="alert_details.src_ip">源地址 </span>
                        </p>
                        <p>
                            <span class="alarm_detai_span">目的地址:</span>
                            <span class="part_detail_span" ng-bind="alert_details.dest_ip">目的地址 </span>
                        </p>
                        <p>
                            <span class="alarm_detai_span">告警时间:</span>
                            <span class="part_detail_span" ng-bind="alert_details.alert_time*1000 | date:'yyyy-MM-dd HH:mm:ss'">告警时间 </span>
                        </p>
                        <p>
                            <span class="alarm_detai_span">应用:</span>
                            <span class="part_detail_span" ng-bind="alert_details.application"> </span>
                        </p>
                        <p>
                            <span class="alarm_detai_span">告警类型:</span>
                            <span class="part_detail_span" ng-bind="alert_details.category">与告警页面威胁类型同步 </span>
                        </p>
                        <p>
                            <span class="alarm_detai_span">告警描述:</span>
                            <span class="part_detail_span" ng-bind="alert_details.alert_raw">与告警页面内容一致 </span>
                        </p>
                        <p>
                            <span class="alarm_detai_span">检测引擎:</span>
                            <span class="part_detail_span" ng-bind="alert_details.detect_engine">被那个引擎或者规则检测出的告警 </span>
                        </p>
                    </div>
                    <!-- 时间轴 -->
                    <div class="part_detail">
                        <h4>检测时间轴</h4>
                        <ul class="time-horizontal">
                            <li class="li_hover" ng-repeat="item in time_type" ng-if="$index<10" ng-click="isActive(item,$index)" ng-class=" li_index == $index ? 'li_active':'' ">
                                <b></b>
                                <span class="li_top" ng-bind="item.type">2018.08.12 23:22:12</span>
                                <br>
                                <span ng-bind="item.time">威胁情报</span>
                            </li>
                        </ul>
                        <ul class="time-horizontal" style="margin-top: 100px" ng-if="time_type.length > 10">
                            <li class="li_hover" ng-repeat="item in time_type" ng-if="$index>9" ng-click="isActive(item,$index)" ng-class="li_index == $index  ? 'li_active':'' ">
                                <b></b>
                                <span class="li_top" ng-bind="item.type">2018.08.12 23:22:12</span>
                                <br>
                                <span ng-bind="item.time">威胁情报</span>
                            </li>
                        </ul>
                        <ul class="time-horizontal" style="margin-top: 100px" ng-if="time_type.length > 20">
                            <li class="li_hover" ng-repeat="item in time_type" ng-if="$index>19" ng-click="isActive(item,$index)" ng-class="li_index == $index  ? 'li_active':'' ">
                                <b></b>
                                <span class="li_top" ng-bind="item.type">2018.08.12 23:22:12</span>
                                <br>
                                <span ng-bind="item.time">威胁情报</span>
                            </li>
                        </ul>
                        <div class="time_content">
                            <h4>详细信息</h4>
                            <ul>
                                <li class="time_content_li" ng-repeat="item in detail_infos">
                                    <span class="time_content_span_title" ng-bind="item.key">文件名:</span>
                                    <span ng-bind="item.value">a232gh232a2323s23</span>
                                </li>
                            </ul>
                            <h4>网络事件</h4>
                            <ul>
                                <li class="time_content_li" ng-repeat="item in network_events.http">
                                    <span class="time_content_span_title" ng-bind="item.key">时间:</span>
                                    <span ng-bind="item.value">2018.08.12 23:22:12 </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //当前和历史告警资产 -->
                    <div class="part_detail">
                        <div class="box box-solid">
                            <div class="box-header with-border" style="border:0">
                                <ul id="myTab" class="nav nav-tabs" ng-init="selected == 0">
                                    <li ng-class="{'active':selected == $index}" ng-click="show($index)" ng-repeat="item in tab_data">
                                        <a data-toggle="tab">
                                            <i class="fa fa-bell-o"></i>
                                            <span ng-bind="item.name"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content" ng-if="selected == $index" ng-repeat="item in tab_data">
                                <div style="cursor: pointer;" ng-if="selected == 0">
                                    <div class="row margin">
                                        <table class="table table-hover ng-cloak">
                                            <tr>
                                                <th>时间</th>
                                                <th>告警类型</th>
                                                <th>告警描述</th>
                                                <th>源地址</th>
                                                <th>目的地址</th>
                                                <th>应用</th>
                                                <th>告警等级</th>
                                            </tr>
                                            <tr style="cursor: pointer;" ng-repeat="item in pages.data" ng-click="detail(item)">
                                                <td ng-bind="item.alert_time"></td>
                                                <td ng-bind="item.category"></td>
                                                <td ng-bind="item.alert_description"></td>
                                                <td ng-bind="item.src_ip"></td>
                                                <td ng-bind="item.dest_ip"></td>
                                                <td ng-bind="item.application"></td>
                                                <td ng-bind="item.degree"></td>
                                            </tr>
                                        </table>
                                        <!-- angularjs分页 -->
                                        <div style="border-top: 1px solid #f4f4f4;padding: 10px;">
                                            <em>共有
                                                <span ng-bind="pages.count"></span>条告警</em>
                                            <ul class="pagination pagination-sm no-margin pull-right ng-cloak">
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage(pages.pageNow-1)" ng-if="pages.pageNow>1">上一页</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage(1)" ng-if="pages.pageNow>1">1</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-if="pages.pageNow>4">...</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage(pages.pageNow-2)" ng-bind="pages.pageNow-2" ng-if="pages.pageNow>3"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage(pages.pageNow-1)" ng-bind="pages.pageNow-1" ng-if="pages.pageNow>2"></a>
                                                </li>
                                                <li class="active">
                                                    <a href="javascript:void(0);" ng-bind="pages.pageNow"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage(pages.pageNow+1)" ng-bind="pages.pageNow+1" ng-if="pages.pageNow<pages.maxPage-1"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage(pages.pageNow+2)" ng-bind="pages.pageNow+2" ng-if="pages.pageNow<pages.maxPage-2"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-if="pages.pageNow<pages.maxPage-3">...</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage(pages.maxPage)" ng-bind="pages.maxPage" ng-if="pages.pageNow<pages.maxPage"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage(pages.pageNow+1)" ng-if="pages.pageNow<pages.maxPage">下一页</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- 历史告警资产 -->
                                <div style="cursor: pointer;" ng-if="selected == 1">
                                    <div class="row margin">
                                        <table class="table table-hover ng-cloak">
                                            <tr>
                                                <th>时间</th>
                                                <th>告警类型</th>
                                                <th>告警描述</th>
                                                <th>源地址</th>
                                                <th>目的地址</th>
                                                <th>应用</th>
                                                <th>告警等级</th>
                                            </tr>
                                            <tr style="cursor: pointer;" ng-repeat="item in pages1.data">
                                                <td ng-bind="item.alert_time"></td>
                                                <td ng-bind="item.category"></td>
                                                <td ng-bind="item.alert_description"></td>
                                                <td ng-bind="item.src_ip"></td>
                                                <td ng-bind="item.dest_ip"></td>
                                                <td ng-bind="item.application"></td>
                                                <td ng-bind="item.degree"></td>
                                            </tr>
                                        </table>
                                        <!-- angularjs分页 -->
                                        <div style="border-top: 1px solid #f4f4f4;padding: 10px;">
                                            <em>共有
                                                <span ng-bind="pages1.count"></span>条告警</em>
                                            <ul class="pagination pagination-sm no-margin pull-right ng-cloak">
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage1(pages1.pageNow-1)" ng-if="pages1.pageNow>1">上一页</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage1(1)" ng-if="pages1.pageNow>1">1</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-if="pages1.pageNow>4">...</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage1(pages1.pageNow-2)" ng-bind="pages1.pageNow-2" ng-if="pages1.pageNow>3"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage1(pages1.pageNow-1)" ng-bind="pages1.pageNow-1" ng-if="pages1.pageNow>2"></a>
                                                </li>
                                                <li class="active">
                                                    <a href="javascript:void(0);" ng-bind="pages1.pageNow"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage1(pages1.pageNow+1)" ng-bind="pages1.pageNow+1" ng-if="pages1.pageNow<pages1.maxPage-1"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage1(pages1.pageNow+2)" ng-bind="pages1.pageNow+2" ng-if="pages1.pageNow<pages1.maxPage-2"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-if="pages1.pageNow<pages1.maxPage-3">...</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage1(pages1.maxPage)" ng-bind="pages1.maxPage" ng-if="pages1.pageNow<pages1.maxPage"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ng-click="getPage1(pages1.pageNow+1)" ng-if="pages1.pageNow<pages1.maxPage">下一页</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>