.a_nav_tabs_custom {
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.input_radius {
    border-radius: 3px;
}

.alarm_echart {
    margin-bottom: 10px;
}

.alarm_echart_content {
    background-color: #fff;
    border-radius: 3px;
    height: 200px;
}

#alarm_echart {
    height: 200px;
    width: 100%;
}

.alarm_detail .img_box {
    text-align: center;
    padding-top: 15px;
}
.alarm_detail .img_box .img{
    margin-bottom: 10px;
}
.alarm_detail .img_box p {
    text-align: left;
    height: 20px;
    line-height: 20px;
    margin: 5px 0;
}
.alarm_detail .p_head{
    max-width: 60px;
    padding: 0;
}
.alarm_detail .img_arrow{
    margin-top: 4px
}
.alarm_detail .part{
   padding: 10px 30px;
}
.alarm_detail .part .part_detail{
    padding: 10px 0;
    border-top: 1px solid #999999;
}
.alarm_detail .part p{
    margin: 5px 0;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.alarm_detail .part_detail_span{
   padding-left: 15px;
}
.alarm_detai_span{
    width: 50px;
    display: inline-block;
}
