<div class="alarm_detail" ng-controller="Alarm_detailController" ng-init="app.settings.container = false;" ng-cloak>
    <div class="row">
        <div class="col-md-12 ">
            <div class="set_content">
                <div class="row">
                    <div class="col-md-4 img_box">
                        <img src="../src/images/icos/computer.png" class="img" alt="" height="64" width="64" srcset="">
                    </div>
                    <div class="col-md-3 ">
                        <img src="../src/images/icos/1121.png" class="img_arrow" height="80" width="240" alt="">
                    </div>
                    <div class="col-md-4  img_box">
                        <img src="../src/images/icos/server.png" alt="" class="img" height="64" width="64" srcset="">
                    </div>
                </div>
                <!-- 详情 -->
                <div class="row part">
                    <div class="part_detail">
                        <p >
                            <span class="alarm_detai_span">源地址:</span>
                            <span class="part_detail_span" ng-bind ="alert_details.src_ip">源地址 </span>
                        </p>
                        <p>
                            <span class="alarm_detai_span">目的地址:</span>
                            <span class="part_detail_span" ng-bind ="alert_details.dest_ip">目的地址 </span>
                        </p>
                        <p>
                            <span class="alarm_detai_span">告警时间:</span>
                            <span class="part_detail_span" ng-bind ="alert_details.alert_time*1000 | date:'yyyy-MM-dd HH:mm:ss'">告警时间 </span>
                        </p>
                        <p>
                            <span class="alarm_detai_span">应用:</span>
                            <span class="part_detail_span" ng-bind ="alert_details.application"> </span>
                        </p>
                        <p>
                            <span class="alarm_detai_span">告警类型:</span>
                            <span class="part_detail_span" ng-bind ="alert_details.alert_type">与告警页面威胁类型同步 </span>
                        </p>
                        <p>
                            <span class="alarm_detai_span">告警描述:</span>
                            <span class="part_detail_span" ng-bind ="alert_details.alert_raw">与告警页面内容一致 </span>
                        </p>
                        <p>
                            <span class="alarm_detai_span">检测引擎:</span>
                            <span class="part_detail_span" ng-bind ="alert_details.detect_engine">被那个引擎或者规则检测出的告警 </span>
                        </p>
                    </div>
                    <div class="part_detail">
                        <!-- <h4>Object information</h4> -->
                        <h4>关联信息</h4>
                        <table class="table table-hover ng-cloak">
                                <tr>
                                    <th>文件名</th>
                                    <th>文件大小</th>
                                    <th>MD5</th>
                                    <th>SHA256</th>
                                    <th>威胁名称</th>
                                </tr>
                                <tr style="cursor: pointer;" ng-click="detail(item)">
                                    <td >a232gh232a2323s23 </td>
                                    <td > 395KB</td>
                                    <td >1e09ea42b23b123a23bd232e3</td>
                                    <td >23b123a23bd232e3gh232a1e09ea42</td>
                                    <td >威胁名称</td>
                                </tr>
                                <tr style="cursor: pointer;" ng-click="detail(item)">
                                        <td >a232gh232a2323s23 </td>
                                        <td > 395KB</td>
                                        <td >1e09ea42b23b123a23bd232e3</td>
                                        <td >23b123a23bd232e3gh232a1e09ea42</td>
                                        <td >威胁名称</td>
                                    </tr>
                            </table>
                    </div>
                    <div class="part_detail">
                            <h4>网络事件</h4>
                            <table class="table table-hover ng-cloak">
                                    <tr>
                                        <th>方法</th>
                                        <th>源地址</th>
                                        <th>目的地址</th>
                                        <th>URL</th>
                                        <th>用户代理</th>
                                        <th>推荐人</th>
                                    </tr>
                                    <tr style="cursor: pointer;" ng-click="detail(item)">
                                        <td >GET</td>
                                        <td > 10.28.0.111.22</td>
                                        <td >10.68.16.85</td>
                                        <td >http://xxxx//xxx/xx.exe</td>
                                        <td >Mozilla/5.0 (Windows; U; Windows NT 5.1; zh-CN) AppleWebKit/533.21.1 (KHTML, like Gecko) Version/5.0.5 Safari/533.21.1</td>
                                        <td >http://xxxx//xxx/xx.exe</td>
                                    </tr>
                                </table>
                        </div>
                    <div class="part_detail">
                        <div class="box box-solid">
                            <div class="box-header with-border" style="border:0">
                                <ul id="myTab" class="nav nav-tabs" ng-init="selected == 0">
                                    <li ng-class="{'active':selected == $index}" ng-click="show($index)" ng-repeat="item in tab_data">
                                        <a data-toggle="tab">
                                            <i class="fa fa-bell-o"></i>
                                            <span ng-bind="item.name"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content" ng-if="selected == $index" ng-repeat="item in tab_data">
                                <div style="cursor: pointer;" ng-if="selected == 0">
                                    <p>Event history</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>