.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus {
    color: #666;
    /* font-weight: 700 !important; */
    background: #f7f7f7;
}
.daterangepicker .calendar th, .daterangepicker .calendar td {
    width: 32px;
}